# Ignore build output
src/
tests/
node_modules/
*.ts
!.npmignore

# Ignore configuration files not needed in the package
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
tsconfig.json
jest.config.js
package-lock.json
